<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="assets/Images/unicorn-7107894_1280.png" alt="" />
    </figure>
  </div>
  <div class="block">
    <div class="content">
      Nicely done! Wanna play again?
      <br />
    </div>
  </div>
</div>
<p>You earned {{ totalscore }} points</p>
<div class="block"></div>

<div class="block">
  <h3>Top 5 Scores:</h3>
  <ul>
    <li *ngFor="let score of topScores; let i = index" class="top-score-item">
      {{ i + 1 }}. {{ score.score }} points ({{ score.date | date:'short' }})
    </li>
  </ul>
</div>

<button class="button is-danger" routerLink="/topics" routerLinkActive="active">Play again</button>