<img src="assets/Images/WonAPrice.png" alt="Hooray Unicorn!">

<!-- Tähän pallot, math.random ei toimi -->
<!-- <div class="balloon-container">
  <div *ngFor="let balloon of balloons; let i = index" class="balloon" [style.left]="balloon.x + '%'"
    [style.animation-duration]="(3 + Math.random() * 5) + 's'" (click)="popBalloon(i)">
  </div>
</div> -->

<div class="block">
  <div class="content">
    Nicely done! Wanna play again?
    <br />
  </div>
</div>

<p>You earned <b>{{ totalscore }}</b> points</p>
<div class="block"></div>

<div class="block">
  <h3>Your scores:</h3>
  <ul>
    <li *ngFor="let score of topScores; let i = index" class="top-score-item">
      {{ i + 1 }}. {{ score.score }} points ({{ score.date | date:'short' }})
    </li>
  </ul>
  <p *ngIf="topScores.length === 0">Oops, sorry no scores...</p>
</div>

<button class="button is-danger" routerLink="/topics" routerLinkActive="active">Play again</button>