<img src="assets/Images/WonAPrice.png" alt="Hooray Unicorn!">


<p>Nicely done! <br>
  You earned <b>{{ totalscore }}</b> points</p>
<div class="block"></div>

<div class="block">
  <p>Your scores:</p>
  <ul>
    <p>
      <li *ngFor="let score of topScores; let i = index" class="top-score-item">
        {{ i + 1 }}. {{ score.score }} points ({{ score.date | date:'mediumDate' }})<!--Shows scores Month.day.year-->
      </li>
    </p>
  </ul>
  <p *ngIf="topScores.length === 0">Oops, sorry no scores...</p><!--If there is no scores saved-->
</div>

<button class="button is-danger" routerLink="/topics" routerLinkActive="active">Wanna play again?</button>