.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 100%;
  height: 100%;
  white-space: normal;
  text-align: center;
  background-color: blueviolet;
  color: white;
}

.button.selected {
  background-color: #d4d4d4;
  color: black;
}

.button.correct {
  background-color: green;
  color: white;
}

.button.incorrect {
  background-color: red;
  color: white;
}

.button.show-correct {
  animation: blink 1s infinite !important;
  background-color: green !important;
  color: white !important;
  border: 2px solid darkgreen !important;
}

@keyframes blink {
  50% {
    opacity: 0.5;
  }
}