<div class="container">
  <div class="block has-text-centered">
    <div clas="block">
      <h1>WELCOME {{ username }}!</h1>
    </div>
    <p>Choose your topic!</p>
  </div>

  <div class="grid-container">
    <a href="/computer-sience">
      <img src="/assets/Images/ComputerSience.png" alt="Computer Science" />
    </a>

    <a href="/general">
      <img src="/assets/Images/GeneralKnowledge.png" alt="General Knowledge" />
    </a>

    <a href="/cartoons">
      <img src="/assets/Images/Cartoons.png" alt="Cartoons" />
    </a>

    <a href="/geography">
      <img src="/assets/Images/Geography.png" alt="Geography" />
    </a>

  </div>
  <div class="bottom-container">
    <a href="/random">
      <img src="/assets/Images/WildCard.png" alt="Wild Card" />
    </a>

  </div>

</div>