<div class="container">
  <div class="block has-text-centered">
    <strong>Choose your topic!</strong>
  </div>

  <div class="columns is-centered">
    <div class="column is-one-third">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by4">
            <img src="/assets/Images/computer_sience.jpg" alt="Computer Science" />
          </figure>
        </div>
        <div class="content">
          <a href="/computer-sience">Computer Science</a>
        </div>
      </div>
    </div>

    <div class="column is-one-third">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by4">
            <img src="/assets/Images/general_knowledge.jpg" alt="General Knowledge" />
          </figure>
        </div>
        <div class="content">
          <a href="#">General Knowledge</a>
        </div>
      </div>
    </div>
  </div>
</div>