<!-- To print the question -->
<div *ngIf="questionService.currentQuestion">
  <p [innerHTML]="questionService.currentQuestion.question"></p>
</div>
<div class="block"></div>

<!-- Choices -->

<div class="grid-container">

  <div *ngFor="let answer of questionService.getAllAnswers(); let i = index; trackBy: trackByAnswer" class="grid-item">

    <!-- Button for all answers -->
    <button class="button" (click)="selectAnswer(answer)" [ngClass]="{
        'selected': questionService.selectedAnswer === answer,
        'correct': questionService.isAnswerCorrect && questionService.selectedAnswer === answer,
        'incorrect': !questionService.isAnswerCorrect && questionService.selectedAnswer === answer,
        'show-correct': questionService.answerSelected && !questionService.isAnswerCorrect && questionService.currentQuestion.correct_answer === answer
      }">
      <span [innerHTML]="answer"></span>
    </button>
  </div>
  <div class="block"></div>
</div>