.sky {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #001a33;
  /* Dark sky */
  overflow: hidden;
  z-index: -1;
  /* Set the starry sky as the background */
  pointer-events: none;
  /* Prevents the starry sky from blocking interaction */
  opacity: 1;
  /* Transparency of the starry sky */
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: twinkle 1.5s infinite alternate, sizeChange 3s infinite alternate;
  /* Random animation duration and delay */

}

@keyframes twinkle {
  0% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.8;
  }


}

@keyframes sizeChange {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
    /* The stars increase in size a little */
  }

  100% {
    transform: scale(1);
  }
}