<div class="sky">
  <div *ngFor="let star of stars" class="star" [ngStyle]="{
         'top': star.top,
         'left': star.left,
         'width': star.size,
         'height': star.size,
         'animation-duration': star.duration,
         'animation-delay': star.delay
       }">
  </div>

  <!-- Dropdown menu -->
  <!-- <div class="dropdown" [class.is-active]="isDropdownOpen">
    <div class="dropdown-trigger">
      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" (click)="toggleDropdown($event)">
        <span>Dropdown button</span>
        <span class="icon is-small">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu" role="menu">
      <div class="dropdown-content">
        <a href="#" class="dropdown-item"> Dropdown item </a>
        <a class="dropdown-item"> Other dropdown item </a>
        <a href="#" class="dropdown-item is-active"> Active dropdown item </a>
        <a href="#" class="dropdown-item"> Other dropdown item </a>
        <hr class="dropdown-divider" />
        <a href="#" class="dropdown-item"> With a divider </a>
      </div>
    </div>
  </div> -->

</div>