/* this is the main body */
.body {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

/* this is the background div */
.container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(3, 3, 28);
  width: auto;
  max-width: 600px;
  border-radius: 15px;
  margin: auto;
  text-align: center;

}

/* block styling */
.block:not(:last-child) {
  margin-bottom: 1.5rem;
}

/* For dropdown menu*/
.dropdown-container {
  position: absolute;
  top: 40px;
  right: 20px;
  left: 40px;
  z-index: 1000;
}