<form>
    <h1>Welcome to QuizApp!</h1>

    <div class="card">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="https://cdn.pixabay.com/photo/2022/11/13/02/49/unicorn-7588223_1280.png" alt="" />
            </figure>
        </div>

        <div class="content">
            Test your knowledge in different subject areas and learn something new.
            Start by creating a username for
            yourself.
            <br />
        </div>
    </div>

    <input class="input is-danger" type="text" placeholder="Create yourself a username" />

    <div>
        <button class="button is-danger">Let's play</button>
    </div>

</form>