/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  color: #ecf0f1;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


h1 {
  font-family: "Barrio", serif !important;
  font-weight: 600;
  font-size: x-large;
  font-style: normal;
  color: white;
}

p {
  font-family: "Atma", serif;
  font-weight: 400;
  font-style: normal;
  font-size: large;
  color: white;
}

.button {
  width: 100%;
  height: 100%;
  white-space: normal;
  text-align: center;
  background-color: blueviolet;
  color: white;
}

.button.selected {
  background-color: #d4d4d4;
  color: black;
}

.button.correct {
  background-color: green !important;
  color: white !important;
}

.button.incorrect {
  background-color: red !important;
  color: white !important;
}

.button.show-correct {
  animation: blink 1s infinite !important;
  background-color: green !important;
  color: white !important;
  border: 2px solid darkgreen !important;
}

@keyframes blink {
  50% {
    opacity: 0.5;
  }
}